*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(224, 224, 224);
}

.navbar {
    position: sticky;
    background: linear-gradient(135deg, #9cadad 50%, #414040 50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,);
    top: 0;
    z-index: 2000;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    margin: 0;
    background: #aeb7b8;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
 }

.nav-logo img {
    width: 110px;
    height: auto;
    display: block;
 }

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: 25px;
    padding: 8px 25px;
    
}

.nav-link:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

@media screen and (max-width: 900px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    } 
    
    .nav-logo{
        width: 100%;
        height: auto;

    }   
        .nav-menu{
    flex-direction: column;
    }
}


