.container{
    max-width: 2200px;
    margin: 0 auto;
    padding: 32px; 
    background: linear-gradient(135deg, #a2a2a2 20%, #000000 50%);
}

.trainers-grid{
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 16px;
}

.trainer-card{
    background-color: rgba(58, 58, 58, 0.849);
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(230, 230, 230, 0.897);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 32px);
    max-width: calc(33.333% - 32px);
    min-width: 350px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.trainer-card:hover {
    transform: translate(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
    transition: all 0.9 ease;

}

.trainer-image{
    width: 100%;
    height: 180px;
    object-fit: contain;
    display: block;
    background: linear-gradient(135deg, #000000 10%, #a2a2a2a2 50%);
}

.trainer-info{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.trainer-name{
    font-size: 18px;
    font-weight: bold;
    color: #fffafa;
    text-transform: capitalize;
    margin: 0;
    
} 

.trainer-region{
    padding: 8px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.trainer-badges{
    font-size: 18px;
    color: #ffffff;
    margin: 4px 0;
    
}

.status-active{
    background: linear-gradient(135deg, #d46012 30%, rgb(255, 142, 50) 50%) ;
    border-radius: 25px;
    font-size: 18px;
    
}

.status-lider_de_gimnasio{
    background: linear-gradient(135deg, #0d53af 30%, rgba(25, 133, 255, 0.808) 50%) ;
    border-radius: 25px;
    font-size: 18px;
}

.status-investigador{
    background: linear-gradient(135deg, #838588 30%, rgba(222, 231, 235, 0.808) 50%) ;
    border-radius: 25px;
    font-size: 18px;
}

.status-coordinadora{
    background: linear-gradient(135deg, #05aab6 30%, rgba(51, 255, 238, 0.808) 50%) ;
    border-radius: 25px;
    font-size: 18px;
    
}

.status-artista{
    background: linear-gradient(135deg, #8302aa 30%, rgba(183, 29, 255, 0.808) 50%) ;
    border-radius: 10px;
    font-size: 18px;
}

.status-champion{
    background: linear-gradient(135deg, #ffd904 30%, rgb(226, 223, 21) 50%) ;
    border-radius: 100px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    .trainer-grid{
        width: 100%;
        gap: 8px;
    }

    .trainer-card{
        flex: 0 0 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }

    
}

@media screen and (max-width: 480px) {

    .trainer-grid{
        gap: 16px;
    }

    .trainer-card{
        flex: 0 0 100%;
        max-width: 100%;
    }

    
}
